/* Main CSS File - Import semua bagian */
@import url('variables.css');
@import url('base.css');

/* Layout */
@import url('layout/header.css');
@import url('layout/ribbon.css');
@import url('layout/main-content.css');
@import url('layout/status-bar.css');

/* Components */
@import url('components/cards.css');
@import url('components/tables.css');
@import url('components/buttons.css');
@import url('components/dialogs.css');
@import url('components/forms.css');
@import url('components/notifications.css');
@import url('components/animations.css');

/* Themes */
@import url('themes/theme-classic.css');
@import url('themes/theme-pastel.css');
@import url('themes/theme-dark.css');
@import url('themes/theme-selector.css');

/* Responsive */
@import url('responsive.css');